# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# MacOS
.DS_Store

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# Emacs efs
/.config/efsmacs/org-roam.db
/.config/efsmacs/bookmarks
/.config/efsmacs/eshell/
/.config/efsmacs/transient/
/.config/efsmacs/.cache/
/.config/efsmacs/.lsp-session-v1
/.config/efsmacs/.mc-lists.el
/.config/efsmacs/.org-jira/
/.config/efsmacs/request/
/.local/share/fonts/.uuid
/.config/zsh/.zsh_history
/.config/zsh/.zsh_sessions/
/.config/efsmacs/projects
/.config/efsmacs/games/

# Emacs cop
/.config/copmacs/*/
/.config/copmacs/*
!/.config/copmacs/init.el

# Emacs chrispmacs
/.config/chrispmacs/*/
/.config/chrispmacs/*
!/.config/chrispmacs/init.el
!/.config/chrispmacs/early-init.el
!/.config/chrispmacs/modules
!/.config/chrispmacs/bootstrap

# Emacs bugmacs
/.config/bugmacs/*/
/.config/bugmacs/*
!/.config/bugmacs/early-init.el
!/.config/bugmacs/init.el
!/.config/bugmacs/modules

# Emacs chrispwdmacs
/.config/chrispwdmacs/*/
/.config/chrispwdmacs/*
!/.config/chrispwdmacs/early-init.el
!/.config/chrispwdmacs/init.el
!/.config/chrispwdmacs/modules

# Neovim
/.config/nvim/*/
/.config/nvim/*
!/.config/nvim/init.lua
