# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# MacOS
.DS_Store

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# Emacs
/emacs/.config/**
!/emacs/.config/*/early-init.el
!/emacs/.config/*/init.el
!/emacs/.config/*/modules
!/emacs/.config/*/bootstrap
!/emacs/.config/*/themes
/emacs/.emacs.d/**
!/emacs/.emacs.d/early-init.el
!/emacs/.emacs.d/init.el
!/emacs/.emacs.d/modules
!/emacs/.emacs.d/bootstrap
!/emacs/.emacs.d/themes

# Neovim
/nvim/.config/nvim/**
!/nvim/.config/nvim/init.lua

# Source Code Dir
/.local/src/

# Vim
/vim/.vim/**
!/.vim/autoload/plug.vim

# Zsh
/zsh/**
!/zsh/.zshrc

# Work files
.bash_work
.bash_private