#!/bin/sh

# X settings
xset s off
xset dpms 0 0 0
xsetroot -cursor_name left_ptr &
xclock -digital -strftime "%a %b %d %H:%M" \
       -face "monospace:style=Italic:size=9" \
       -bg "$COLOR_FG" -fg "$COLOR_BG" \
       -geometry 125x30-10+5 &
# startup apps
dunst &
nm-applet &
if [ $(uname -n) = "stinky" ]; then
    blueman-applet &
fi
wmname LG3D
#stalonetray &
trayer --edge left --align right \
       --margin 10 --widthtype request \
       --width 10 &
keepassxc &
#megasync &
syncthing &
#multiload-ng-systray &
cbatticon BAT0 &
cbatticon BAT1 &
#volumeicon &
#dwmblocks &

if [ -d "/etc/X11/xinit/xinitrc.d" ]; then
    for f in /etc/X11/xinit/xinitrc.d/*.sh; do
        source "$f"
    done
fi

# startup script
startup
