#!/bin/sh

# X settings
xset s off
xset dpms 0 0 0
xsetroot -cursor_name left_ptr &
# xclock &
# xosview &

source_if() {
    [ -r "$1" ] && . "$1"
}

# ensures program executed once on startup
run_once() {
    if ! pgrep -f "$*" > /dev/null; then
        "$@" &
    fi
}

# startup programs
run_once syncthing
run_once picom
run_once sxhkd

# sleep called on trayed programs
sleep 1 && run_once nm-applet
sleep 1 && run_once cbatticon BAT0
sleep 1 && run_once volumeicon

# source any machine-local configs
source_if "$HOME/.xprofile_local"

################################################################################
# Old stuff for reference
################################################################################
# unclutter -b --timeout 3 &
# multiload-ng-systray &
# #dwmblocks &

# if [ -d "/etc/X11/xinit/xinitrc.d" ]; then
#     for f in /etc/X11/xinit/xinitrc.d/*.sh; do
#         source "$f"
#     done
# fi

# # startup script
# startup

#wmname LG3D
#stalonetray &
# trayer --edge top --align right \
#        --margin 10 --widthtype request \
#        --width 10 &
# keepassxc &
#megasync &
