#include "Xresources.d/themes/twilight"

Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
xterm*utf8: 1
XTerm.vt100.font: fixed
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.vt100.selectToClipboard: true
XTerm.vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD) \n\
    Shift<Btn1Down>: select-start() \n\
    Shift<Btn1Motion>: select-extend() \n\
    Shift<Btn1Up>: select-end(CLIPBOARD) \n\
XTerm.ttyModes: erase ^?
XTerm.termName: xterm-256color
XTerm*boldMode: true
XClock*foreground: #a89984
XClock*background: #1d2021
XClock*geometry: 125x125-5+5
XClock*strftime:  %a %d, %H:%M
XClock.Clock.analog: true
XClock.Clock.update: 1
XClock.Clock.face: monospace:style=Italic:size=10
XClock.Clock.majorColor: #a89984
XClock.Clock.minorColor: #7c6f64
XClock.Clock.hourColor: #928374
XClock.Clock.minuteColor: #928374
XClock.Clock.secondColor: #7c6f64
xosview*geometry: 125x70-6+40
xosview*font: 6x13
xosview*labels: false
xosview*background: #1d2021
xosview*foreground: #a89984
xosview*load: false
xosview*cpu: true
xosview*cpuFormat: single
xosview*cpuFreeColor: #32302f
xosview*mem: true
xosview*memFreeColor: #32302f
xosview*swap: false
xosview*page: false
xosview*gfx: false
xosview*NFSStats: false
xosview*NFSDStats: false
xosview*wireless: false
xosview*disk: false
xosview*battery: false
xosview*net: true
xosview*netBackground: #32302f

