#include "Xresources.d/themes/cpl"

Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
xterm*utf8: 1
XTerm.vt100.font: fixed
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.vt100.selectToClipboard: true
XTerm.vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD) \n\
    Shift<Btn1Down>: select-start() \n\
    Shift<Btn1Motion>: select-extend() \n\
    Shift<Btn1Up>: select-end(CLIPBOARD) \n\
XTerm.ttyModes: erase ^?
XTerm.termName: xterm-256color
XTerm*boldMode: true
XClock*foreground: #a5a8a6
XClock*background: #1d1f21
XClock*geometry: 125x125-5+40
XClock*strftime:  %a %d, %H:%M
XClock.Clock.analog: true
XClock.Clock.update: 1
XClock.Clock.face: monospace:style=Italic:size=10
XClock.Clock.majorColor: #c5c8c6
XClock.Clock.minorColor: #707880
XClock.Clock.hourColor: #a5a8a6
XClock.Clock.minuteColor: #a5a8a6
XClock.Clock.secondColor: #707880
xosview*geometry:125x70-6+170
xosview*font: 6x13
xosview*labels: false
xosview*background: #1d1f21
xosview*foreground: #a5a8a6
xosview*load: false
xosview*cpu: true
xosview*cpuFormat: single
xosview*cpuFreeColor: #373b41
xosview*mem: true
xosview*memFreeColor: #373b41
xosview*swap: false
xosview*page: false
xosview*gfx: false
xosview*NFSStats: false
xosview*NFSDStats: false
xosview*wireless: false
xosview*disk: false
xosview*battery: false
xosview*net: true
xosview*netBackground: #373b41

